<section class="about" id="aboutMe">
  <h3 class="about__title">Sobre mi</h3>
  <section class="about__container">
    <div class="about__containerImg">
      <img class="about__img" src="./assets/images/Raquel.jpg" alt="Raquel" />
    </div>
    <section class="about__text">
      <p class="about__paragrah">
        Desarrolladora front-end, la programación ha dado un nuevo empujón a mi vida y me encanta.
      </p>
      <p class="about__paragrah">
        Antes, estudié terapia ocupacional vinculada a la educación especial y su rehabilitación,
        esto me ha ayudado a tener gran aptitud para trabajar en equipos multidisciplinares teniendo
        en cuenta la empatía y adaptación a diferentes contextos.
      </p>
      <p class="about__paragrah">
        He coordinado equipos pequeños, tengo buena capacidad para la organización y la
        planificación de objetivos así como para la persecución de los mismos, a través de un
        constante trabajo.
      </p>
    </section>
  </section>

  <a
    class="about__cv"
    href="https://github.com/RaquelGarciaCaja/Portfolio-RaquelGarcia/blob/main/src/pdf/Raquel-Garcia-Caja-CV.pdf"
    download=""
  >
    Descargar CV
  </a>
</section>
