<section class="contact" id="contact">
  <section class="contact--containerText">
    <span class="contact--text">Raquel Garcia Caja</span>
    <span class="contact--text">Funio font-end developer</span>
  </section>
  <section class="contact--containerSocial">
    <a
      href="mailto:raquelgc8@gmail.com"
      class="contact--icon"
      target="_blank"
      title="Email"
      rel="noreferrer"
      ><i class="far fa-envelope contact--social"></i
    ></a>

    <a
      href="https://www.linkedin.com/in/raquelgarciacaja/"
      class="contact--icon"
      target="_blank"
      title="Linkedin"
      rel="noreferrer"
      ><i class="contact--social fab fa-linkedin-in"></i
    ></a>
    <a
      href="https://github.com/RaquelGarciaCaja"
      class="contact--icon"
      target="_blank"
      title="Github"
      rel="noreferrer"
    >
      <i class="contact--social fab fa-github-alt"></i>
    </a>
  </section>
</section>
