<footer class="footer" id="contact">
  <h2 class="footer__talk">¿Hablamos?</h2>

  <section class="footer__name">
    <div class="footer__container js-containerLinkSocial">
      <a
        href="mailto:raquelgc8@gmail.com"
        class="footer__icon"
        target="_blank"
        title="Email"
        rel="noreferrer"
        ><i class="far fa-envelope footer__social"></i
      ></a>
      <h6 class="footer__subTitle">raquelgc8@gmail.com</h6>
    </div>
    <div class="footer__container js-containerLinkSocial">
      <a
        href="https://www.linkedin.com/in/raquelgarciacaja/"
        class="footer__icon"
        target="_blank"
        title="Linkedin"
        rel="noreferrer"
        ><i class="footer__social fab fa-linkedin-in"></i
      ></a>
      <h6 class="footer__subTitle">RaquelGarciaCaja</h6>
    </div>
    <div class="footer__container js-containerLinkSocial">
      <a
        href="https://github.com/RaquelGarciaCaja"
        class="footer__icon"
        target="_blank"
        title="Github"
        rel="noreferrer"
      >
        <i class="footer__social fab fa-github-alt"></i>
      </a>
      <h6 class="footer__subTitle">RaquelGarciaCaja</h6>
    </div>
  </section>

  <span class="footer__create"
    >Creado por Raquel García Caja <span class="footer__heart">❤︎</span></span
  >
</footer>
