<footer class="footer">
  <span class="footer__create">Creado por Raquel García Caja</span>
  <section class="footer__name">
    <a
      href="mailto:raquelgc8@gmail.com"
      class="footer__icon"
      target="_blank"
      title="Email"
      rel="noreferrer"
      ><i class="far fa-envelope footer__social"></i
    ></a>

    <a
      href="https://www.linkedin.com/in/raquelgarciacaja/"
      class="footer__icon"
      target="_blank"
      title="Linkedin"
      rel="noreferrer"
      ><i class="footer__social fab fa-linkedin-in"></i
    ></a>
    <a
      href="https://github.com/RaquelGarciaCaja"
      class="footer__icon"
      target="_blank"
      title="Github"
      rel="noreferrer"
    >
      <i class="footer__social fab fa-github-alt"></i>
    </a>
  </section>
</footer>
