<footer class="footer" id="contact">
  <h2 class="footer__title">Contacto</h2>
  <p class="footer__subTitle">
    Tengo muchas ganas de seguir aprendiendo y no parar de formarme. Me encantaría que te pusieras
    en contacto conmigo, ¿hablamos?.
  </p>

  <section class="footer__name">
    <div class="footer__container js-containerLinkSocial">
      <a
        href="mailto:raquelgc8@gmail.com"
        class="footer__icon"
        target="_blank"
        title="Email"
        rel="noreferrer"
        ><i class="far fa-envelope footer__social"></i>
        <h6 class="footer__subSocial">raquelgc8@gmail.com</h6></a
      >
    </div>
    <div class="footer__container js-containerLinkSocial">
      <a
        href="https://www.linkedin.com/in/raquelgarciacaja/"
        class="footer__icon"
        target="_blank"
        title="Linkedin"
        rel="noreferrer"
        ><i class="footer__social fab fa-linkedin-in"></i>
        <h6 class="footer__subSocial">RaquelGarciaCaja</h6></a
      >
    </div>
    <div class="footer__container js-containerLinkSocial">
      <a
        href="https://github.com/RaquelGarciaCaja"
        class="footer__icon"
        target="_blank"
        title="Github"
        rel="noreferrer"
      >
        <i class="footer__social fab fa-github-alt"></i>

        <h6 class="footer__subSocial">RaquelGarciaCaja</h6></a
      >
    </div>
  </section>

  <span class="footer__create"
    >Creado por Raquel García Caja <span class="footer__heart">❤︎</span></span
  >
</footer>
