<header class="header" id="header">
  <section class="header__name">
    <p class="header__por">Portfo<span class="header__porfolio">lio</span></p>
  </section>
  <nav class="header__navMovil js-menu hidden">
    <ul class="header__ulMovil">
      <li class="header__liMovil js-liMovil">
        <a href="./index.html#aboutMe" class="header__linksMovil"> Sobre mi </a>
      </li>
      <li class="header__liMovil js-liMovil">
        <a href="./index.html#skills" class="header__linksMovil"> Habilidades </a>
      </li>
      <li class="header__liMovil js-liMovil">
        <a href="./index.html#project" class="header__linksMovil"> Proyectos </a>
      </li>
      <li class="header__liMovil js-liMovil">
        <a href="./index.html#contact" class="header__linksMovil"> Contacto </a>
      </li>
    </ul>
  </nav>
  <!-- <nav class="header__nav js-menu hidden">
    <ul class="header__ul">
      <li><a href="./index.html#aboutMe" class="header__links"> Sobre mi </a></li>
      <li><a href="./index.html#skills" class="header__links"> Habilidades </a></li>
      <li><a href="./index.html#project" class="header__links"> Proyectos </a></li>
      <li><a href="./index.html#contact" class="header__links"> Contacto </a></li>
    </ul>
  </nav> -->
  <i class="fas fa-bars header__iconMenu js-iconMenu"></i>
  <i class="fas fa-times header__iconClose js-iconClose hidden"></i>
</header>
