<header class="header">
  <section class="header__name">
    <p class="header__por">Porfo<span class="header__porfolio">lio</span></p>
  </section>
  <nav class="header__nav hidden">
    <ul class="header__ul">
      <li><a href="./index.html#aboutMe" class="header__links"> Sobre mi </a></li>
      <li><a href="./index.html#project" class="header__links"> Proyectos </a></li>
      <li><a href="./index.html#contact" class="header__links"> Contacto </a></li>
    </ul>
  </nav>
  <div class="header__menu header__menuShow js-navShow">
    <i class="fas fa-bars"></i>
  </div>
  <!-- <div class="header__x js-navNotShow">
    <i class="fas fa-times js-notShow"></i>
  </div> -->
</header>
