<header class="header">
  <div class="header__name">Porfolio Raquel Garcia</div>
  <nav class="header__nav hidden">
    <ul class="header__ul">
      <li><a href="./index.html#about" class="header__links"> Contacto </a></li>
      <li><a href="./index.html#about" class="header__links"> Sobre mi </a></li>
      <li><a href="./index.html#about" class="header__links"> Proyectos </a></li>
    </ul>
  </nav>
  <div class="header__menu js-navShow">
    <i class="fas fa-bars js-show"></i>
  </div>
  <div class="header__x js-navNotShow">
    <i class="fas fa-times js-notShow"></i>
  </div>
</header>
