<main class="main">
  <div class="main-form">
    <form action="" class="main__form">
      <label for="" class="main__form--text">Encuentra tu serie/película: </label>
      <input type="text" class="main__form--input js-input" placeholder=" Ej: friends" />
      <input type="button" value="Buscar" class="js-button" />
    </form>
    <ul class="main__list">
      <!-- aqui van todas las pelis -->
    </ul>
  </div>

  <div class="main__aside">
    <h3 class="main__aside-title">Mis series favoritas</h3>
    <ul class="main__aside-fav">
      <!-- aqui van los fav -->
      <!-- <li class="main__aside--fav">
       -- <img src="" alt="" class="main__aside--fav-img" /> -->
      <!-- <h3 class="main__aside--fav-name"></h3> -->
      <!-- </li> -->
    </ul>
  </div>
</main>
