<main class="main">
  <form action="" class="main__form">
    <label for="" class="main__form--text">Encuentra tu series o película</label>
    <input type="text" class="main__form--input js-input" placeholder=" Ej: Fringe" />
    <input type="button" value="Buscar" class="js-button" />
  </form>
  <ul class="main__list">
    <!-- <li class="main__list-movie">
      <img src="" alt="" class="main__list--img" />
      <p class="main__list--name">hola</p>
      <p class="main__list--genre">hola</p>
    </li> -->
  </ul>
</main>
