<section class="project" id="project">
  <div>
    <h3 class="project--title">Proyectos</h3>
  </div>
  <div class="project--list">
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS3 (SASS), FlexBox, Grid, Git y Github."
      data-description="Objetivo: Plataforma de series y películas. A través de los datos de un API se muestra un listado que se puede filtrar por el nombre. Además se pueden añadir y eliminar de favoritos."
      data-title="Popcorcon and TV"
    >
      <h4 class="project--project__title">Popcorcon and TV</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Popcorn-and-TV"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="http://beta.adalab.es/modulo-2-evaluacion-final-RaquelGarciaCaja/"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/pop.jpg"
        alt="Popcorcon and TV"
        title="Popcorcon and TV"
      />
    </section>

    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, React, HTML, CSS3 (SASS), FlexBox, Grid, Git y Github."
      data-description="Objetivo: web con filtros, en este caso por nombre, por especie y por género, vinculado con un api que contiene los personajes de Rick and Morty. También permite ver con más detalle la información de cada personaje. "
      data-title="Rick and Morty"
    >
      <h4 class="project--project__title">Rick and Morty</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Rick-and-Morty"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="http://beta.adalab.es/modulo-3-evaluacion-final-RaquelGarciaCaja/#/"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/rick.jpg"
        alt="Rick and Morty"
        title="Rick and Morty"
      />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS3 (SASS), FlexBox, Grid, Git y Github."
      data-description="Objetivo: app interactiva que permite buscar el nombre de los pokemons y añadir a tu pokedex los favoritos."
      data-title="!Hazte con todos!"
    >
      <h4 class="project--project__title">!Hazte con todos!</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Pokemon-hazte-con-todos-"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="http://beta.adalab.es/modulo-3-evaluacion-intermedia-RaquelGarciaCaja/"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/pokemon.jpg"
        alt="Pokemon"
        title="Pokemon"
      />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS3 (SASS), FlexBox, Grid, Git y Github."
      data-description="Objetivo: proyecto grupal. Permite al usuario elegir estilos, escribir sus datos y generar una tarjeta que puede compartir a través de un link o por Twitter."
      data-title="Div_as profile-cards"
    >
      <h4 class="project--project__title" value="Div_as profile-cards">Div_as profile-cards</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Div_as-Profile-Cards"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="http://beta.adalab.es/project-promo-k-module-2-team-7/"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/divas.jpg"
        alt="Div_as profile-cards"
        title="Div_as profile-cards"
      />
    </section>

    <section
      class="project--container"
      data-tolls="Herramientas usadas: HTML, CSS3 (SASS), FlexBox, Grid, Git y Github."
      data-description="Objetivo: proyecto grupal. Web con dos páginas, una con información detallada de las integrantes del grupo y otra con un formulario de contacto. Descata el uso del CSS y la sintaxis de los fichero de HTML"
      data-title="Adarangers"
    >
      <h4 class="project--project__title">Adarangers</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Div_as-Profile-Cards"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="http://beta.adalab.es/project-promo-k-module-2-team-7/"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/adarangers.jpg"
        alt="Adarangers"
        title="Adarangers"
      />
    </section>

    <section
      class="project--container"
      data-tolls="Herramientas usadas: React, JavaScript, HTML, CSS3 (SASS), FlexBox, Grid, Git y Github."
      data-description="Objetivo: proyecto grupal. A partir de un proyecto creado con JavaScript, se ha modificado implementando React."
      data-title="Montgomery-Card-Refactored"
    >
      <h4 class="project--project__title">
        Montgomery <br />
        Card-Refactored
      </h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Montgomery-Card-Refactored"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="http://beta.adalab.es/project-promo-k-module-3-team-9/#/"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/mont.jpg"
        alt="Montgomery-Card-Refactored"
        title="Montgomery-Card-Refactored"
      />
    </section>
  </div>
</section>
