<section class="project" id="project">
  <div>
    <h3 class="project--title">Proyectos</h3>
  </div>
  <div class="project--list">
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS (SASS)."
      data-description="Objetivo: web con una página principal donde se puedes elegir qué cuestionario realizar. Se ha creado a partir de arrays, objetos y métodos para poder pintar y seleccionar la respuesta correcta."
      data-title="Quiz Series"
    >
      <h4 class="project--project__title">Quiz Series</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/quiz"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/quiz/"
          class="project--icon"
          target="_blank"
          title="Desktop"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img class="project--project__img" src="./assets/images/quiz.JPG" alt="Quiz" title="Quiz" />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS (SASS)."
      data-description="Objetivo: Plataforma de series y películas. A través de los datos de un API se muestra un listado que se puede filtrar por el nombre. Además se pueden añadir y eliminar de favoritos."
      data-title="Popcorcon and TV"
    >
      <h4 class="project--project__title">Popcorcon and TV</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Popcorn_And_TV"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Popcorn_And_TV/"
          class="project--icon"
          target="_blank"
          title="Desktop"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/pop.jpg"
        alt="Popcorcon and TV"
        title="Popcorcon and TV"
      />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS (SASS)."
      data-description="Objetivo: juego basado en el clásico piedra, papel o tijera; añadiendo dos elementos nuevos (lagarto y Spock) de la serie The Big Bang Theory."
      data-title="Piedra-papel-tijera-lagarto-spock"
    >
      <h4 class="project--project__title">
        Piedra, papel, tijera, <br />
        lagarto, Spock
      </h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Piedra-papel-tijera-lagarto-spock"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Piedra-papel-tijera-lagarto-spock/"
          class="project--icon"
          target="_blank"
          title="Desktop"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/tijeras.jpg"
        alt="Piedra-papel-tijera-lagarto-spock"
        title="Piedra-papel-tijera-lagarto-spock"
      />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, React, HTML, CSS (SASS)."
      data-description="Objetivo: web con filtros, en este caso por nombre, por especie y por género, vinculado con un api que contiene los personajes de Rick and Morty. También permite ver con más detalle la información de cada personaje. "
      data-title="Rick and Morty"
    >
      <h4 class="project--project__title">Rick and Morty</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Rick-And-Morty"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Rick-And-Morty/#/"
          class="project--icon"
          target="_blank"
          title="Desktop"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/rick.jpg"
        alt="Rick and Morty"
        title="Rick and Morty"
      />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, HTML, CSS (SASS)."
      data-description="Objetivo: El usuario necesita encontrar el tesoro que esta oculto (éste esta creado con unas coordenadas aleatorias). Al pinchar en la imagen te dirá si esta caliente o frio en relación a la distancia que te separa del tesoro. "
      data-title="Find the treasure"
    >
      <h4 class="project--project__title">Find the treasure</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Find-the-treasure"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Find-the-treasure/"
          class="project--icon"
          target="_blank"
          title="Desktop"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/find.jpg"
        alt="Find the treasure"
        title="Find the treasure"
      />
    </section>
    <section
      class="project--container"
      data-tolls="Herramientas usadas: JavaScript, React, HTML, CSS (SASS)."
      data-description="Objetivo: app interactiva que permite buscar el nombre de los pokemons y añadir a tu pokedex los favoritos."
      data-title="!Hazte con todos!"
    >
      <h4 class="project--project__title">Pokemon</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Pokemon"
          class="project--icon"
          target="_blank"
          title="Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Pokemon/"
          class="project--icon"
          target="_blank"
          title="Desktop"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/pokemon.jpg"
        alt="Pokemon"
        title="Pokemon"
      />
    </section>
  </div>
  <div class="project__more">
    <a
      href="https://github.com/RaquelGarciaCaja"
      class="project__icon"
      target="_blank"
      title="Github"
      rel="noreferrer"
    >
      <i class="project__social fab fa-github-alt"></i>

      <h6 class="project__subTitle">Pincha aquí para ver más proyectos</h6></a
    >
  </div>
  <div class="project--containerIcon" title="pincha para ir arriba">
    <a href="./index.html#aboutMe">
      <i class="project--iconUp fas fa-arrow-up"></i>
    </a>
  </div>
</section>
