<section class="project" id="project">
  <div>
    <h3 class="project--title">Proyectos</h3>
  </div>
  <div class="project--list">
    <section
      class="project--container"
      data-tolls="JavaScript | HTML | CSS (SASS)"
      data-description="Web con una página principal donde puedes elegir qué cuestionario realizar. Se ha creado a partir de arrays, objetos y métodos para poder pintar y seleccionar la respuesta correcta."
      data-title="Quiz Series"
    >
      <h4 class="project--project__title">Quiz Series</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/quiz"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el repositorio en Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/quiz/"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el proyecto"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/quiz.JPG"
        alt="Quiz"
        title="Pincha para ver más"
      />
    </section>
    <section
      class="project--container"
      data-tolls="JavaScript | HTML | CSS (SASS)"
      data-description="Plataforma de series y películas. A través de los datos de un API se muestra un listado que se puede filtrar por el nombre. Además se pueden añadir y eliminar de favoritos."
      data-title="Popcorcon and TV"
    >
      <h4 class="project--project__title">Popcorcon and TV</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Popcorn_And_TV"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el repositorio en Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Popcorn_And_TV/"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el proyecto"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/pop.jpg"
        alt="Popcorcon and TV"
        title="Pincha para ver más"
      />
    </section>
    <section
      class="project--container"
      data-tolls="JavaScript | HTML | CSS ("
      data-description="Juego basado en el clásico piedra, papel o tijera. Se ha creado gracias a una matriz donde aparecen todas las opciones posibles. La elección del ordenador se ha creado con Math.random()."
      data-title="Piedra-papel-tijera-lagarto-spock"
    >
      <h4 class="project--project__title">
        Piedra, papel, tijera, <br />
        lagarto, Spock
      </h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Piedra-papel-tijera-lagarto-spock"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el repositorio en Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Piedra-papel-tijera-lagarto-spock/"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el proyecto"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/tijeras.jpg"
        alt="Piedra-papel-tijera-lagarto-spock"
        title="Pincha para ver más"
      />
    </section>
    <section
      class="project--container"
      data-tolls="JavaScript | React | HTML | CSS (SASS)"
      data-description="Web con filtros, en este caso por nombre, por especie y por género. Vinculado a un api que contiene los personajes. Permite ver con más detalle la información de cada personaje. "
      data-title="Rick and Morty"
    >
      <h4 class="project--project__title">Rick and Morty</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Rick-And-Morty"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el repositorio en Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Rick-And-Morty/#/"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el proyecto"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/rick.jpg"
        alt="Rick and Morty"
        title="Pincha para ver más"
      />
    </section>
    <section
      class="project--container"
      data-tolls="JavaScript | HTML | CSS (SASS)"
      data-description="En el juego donde se crean unas coordenadas aleatorias, al pinchar en la imagen te dirá un rango de tempertura en relación a la distancia que te separa del tesoro. "
      data-title="Find the treasure"
    >
      <h4 class="project--project__title">Find the treasure</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Find-the-treasure"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el repositorio en Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Find-the-treasure/"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el proyecto"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/find.jpg"
        alt="Find the treasure"
        title="Pincha para ver más"
      />
    </section>
    <section
      class="project--container"
      data-tolls="JavaScript | React | HTML | CSS (SASS)"
      data-description="Web donde se puede filtrar por el nombre. Vinculado a un api que contiene los Pokemons. Se ha creado un array vacío donde se pueden añadir y eliminar de favoritos."
      data-title="Pokemon"
    >
      <h4 class="project--project__title">Pokemon</h4>
      <div class="project--socialMedia">
        <a
          href="https://github.com/RaquelGarciaCaja/Pokemon"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el repositorio en Github"
          rel="noreferrer"
        >
          <i class="project--social fab fa-github-alt"></i
        ></a>

        <a
          href="https://raquelgarciacaja.github.io/Pokemon/"
          class="project--icon"
          target="_blank"
          title="Pincha para ver el proyecto"
          rel="noreferrer"
        >
          <i class="project--social fas fa-desktop"></i
        ></a>
      </div>
      <img
        class="project--project__img"
        src="./assets/images/pokemon.jpg"
        alt="Pokemon"
        title="Pincha para ver más"
      />
    </section>
  </div>
  <div class="project__more">
    <a
      href="https://github.com/RaquelGarciaCaja"
      class="project__more--icon"
      target="_blank"
      title="Pincha para ver el repositorio en Github"
      rel="noreferrer"
    >
      <i class="project__more--social fab fa-github-alt"></i>

      <h6 class="project__more--subTitle">Pincha aquí para ver más proyectos</h6></a
    >
  </div>
</section>
