<section class="skills" id="skills">
  <div class="skills__containerTitle">
    <h3 class="skills__title">Habilidades</h3>
  </div>
  <div class="skills__containerList">
    <ul class="skills__list">
      <h4 class="skills__list--mainTitle">Maquetación</h4>
      <li class="skills__list--item">
        <h5 class="skills__list--text">HTML5</h5>
      </li>
      <li class="skills__list--item">
        <h5 class="skills__list--text">CSS3</h5>
      </li>
      <li class="skills__list--item">
        <h5 class="skills__list--text">SCSS</h5>
      </li>
      <li class="skills__list--item"><h5 class="skills__list--text">Boostrap</h5></li>
    </ul>

    <ul class="skills__list">
      <h4 class="skills__list--mainTitle">Desarrollo</h4>
      <li class="skills__list--item">
        <h5 class="skills__list--text">JavaScript</h5>
      </li>
      <li class="skills__list--item">
        <h5 class="skills__list--text">React</h5>
      </li>
      <li class="skills__list--item"><h5 class="skills__list--text">SQL</h5></li>
    </ul>

    <ul class="skills__list">
      <h4 class="skills__list--mainTitle">Bases de datos</h4>
      <li class="skills__list--item">
        <h5 class="skills__list--text">Modelos entidad/relación</h5>
      </li>
      <li class="skills__list--item"><h5 class="skills__list--text">Modelos lógicos</h5></li>
    </ul>
  </div>
</section>
