// font
$font-family: "Dancing Script", cursive;
$font-main: "Montserrat Alternates", sans-serif;

// color
$color-main: #6ab5b9;
$color-second: #114e4e;
$color-third: #a2deaf;
$color-cuaternary: #438792;
$color-base: #ffffff;
$color-bg-main: #f5f5f5;
$color-bg-preview: #dde9ed;
$color-text: #54585a;
$color-text-footer: #66abce;
$color-project: #ffc1d3;
$color-icons: #b666ce;

// sizes
$header-mobile: 15px;
$main-mobile: 20px;
$header-tablet-desktop: 20px;
$main-tabet: 35px;
$main-desktop: 60px;
