// font
$font-family: "Dancing Script", cursive;
$font-main: "Kurale", serif;

// color
$color-main: lightblue;
$color-cuaternary: #438792;

// sizes
$header-mobile: 16px;
$main-mobile: 25px;
$main-textMobile: 15px;
$header-tablet-desktop: 20px;
$main-tabet: 35px;
$main-desktop: 50px;
