// fonts
$font-main: "Roboto", sans-serif;
$font-main: "Open Sans", sans-serif;
$font-title: "Merriweather", serif;
$font-secondary: "Montserrat", sans-serif;

// colors
$color-header: #19848c;
$color-secondary: #999;
