.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding: 10px;
    font-family: $font-main;
    text-align: center;
    font-size: 22px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      top: 21px;
      background-color: black;
    }
    &::before {
      left: 108px;
      top: 27px;
    }
    &::after {
      right: 108px;
      top: 27px;
    }
    @media all and (min-width: 768px) {
      font-size: 30px;
      &::after,
      &::before {
        height: 2px;
        width: 24px;
        top: 21px;
      }
      &::before {
        left: 140px;
        top: 32px;
      }
      &::after {
        right: 142px;
        top: 32px;
      }
    }
    @media all and (min-width: 1200px) {
      font-size: 35px;
      &::before {
        left: 170px;
        top: 34px;
        height: 3px;
      }
      &::after {
        right: 170px;
        top: 34px;
        height: 3px;
      }
    }
  }
  &__container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and(min-width:768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    @media all and(min-width:1200px) {
      padding: 10px 110px;
    }
  }
  &__containerImg {
    text-align: center;
  }
  &__img {
    height: 250px;
    border-radius: 44px;
    padding-right: 10px;
    @media all and(min-width:768px) {
      height: 350px;
    }
  }
  &__text {
    opacity: 0.93;
    border-radius: 44px;
    text-align: center;
  }
  &__paragrah {
    padding: 7px;
    font-family: $font-main;
    text-align: center;
    font-size: 13px;

    @media all and (min-width: 768px) {
      font-size: 18px;
    }
    @media all and (min-width: 1200px) {
      font-size: 19px;
    }
  }
  &__cv {
    cursor: pointer;
    font-family: $font-main;
    font-size: $header-mobile;
    border: 2px solid $color-cuaternary;
    border-radius: 10px;
    background-color: $color-cuaternary;
    padding: 10px;
    color: black;
    margin-bottom: 20px;
    text-decoration: none;
    @media all and (min-width: 768px) {
      font-size: 18px;
    }
    @media all and (min-width: 1200px) {
      font-size: 20px;
    }
    &:hover {
      background-color: white;
    }
  }
}
