.contact {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    opacity: 0.75;
    height: 100%;
    background-image: url("../images/playa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--text {
    display: flex;
    justify-self: center;
    font-family: $font-main;
    font-size: 25px;
    color: black;
    position: relative;
    @media all and (min-width: 768px) {
      font-size: 35px;
    }
    @media all and (min-width: 1200px) {
      font-size: 55px;
    }
  }
  &--containerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
    opacity: 0.8;
    text-align: center;
    padding: 15px;
    @media all and (min-width: 768px) {
      padding: 18px;
    }
    @media all and (min-width: 1200px) {
      padding: 20px;
    }
  }
  &--arrow {
    color: black;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    animation-name: arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    // transform: translate(0, -50%);
    @media all and (min-width: 768px) {
      font-size: 35px;
    }
    @media all and (min-width: 1200px) {
      font-size: 40px;
    }
  }
}

@keyframes arrow {
  0% {
    transform: translate(0, 80px);
  }

  50% {
    transform: translate(0, 100px);
  }

  100% {
    transform: translate(0, 80px);
  }
}
