.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-cuaternary;
  padding: 15px;

  &__create {
    font-family: $font-main;
    font-size: 12px;
    padding: 20px 0 8px 0;
  }
  &__icon {
    margin: 0 5px;
    padding: 0 8px;
    transition: 0.5s;
    @media all and (min-width: 768px) {
      margin: 0 15px;
    }
    @media all and (min-width: 1200px) {
      margin: 0 35px;
    }
    &:hover {
      transition: 0.5s;
    }
  }
  &__social {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: lightblue;
    }
  }
  &__talk {
    font-family: $font-main;
    padding-bottom: 10px;
  }
  &__name {
    display: flex;
  }
  &__container {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    transition: 0.5s;
    &:hover {
      color: lightblue;
    }
  }
  &__subTitle {
    display: none;
    @media all and (min-width: 768px) {
      display: flex;
      font-family: $font-main;
      font-size: 15px;
      margin: 0 15px;
    }
  }
}
