.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $color-cuaternary;
  padding: 20px;
  @media all and (min-width: 768px) {
    flex-direction: row;
  }

  &__create {
    font-family: $font-main;
    padding-bottom: 8px;
  }
  &__icon {
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px 8px;
    transition: 0.5s;
    @media all and (min-width: 768px) {
      margin: 0 15px;
      padding: 14px 10px 8px;
    }
    @media all and (min-width: 1200px) {
      margin: 0 35px;
      padding: 20px 12px 13px;
    }
    &:hover {
      transition: 0.5s;
    }
  }
  &__social {
    color: black;
    transition: 0.5s;
    &:hover {
      color: lightblue;
    }
  }
}
