.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-cuaternary;
  padding: 20px 20px 10px 20px;

  &__create {
    font-family: $font-main;
    font-size: 12px;
    padding: 20px 0 8px 0;
  }
  &__icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    margin: 0 5px;
    padding: 0 8px;
    transition: 0.5s;
    text-decoration: none;
    @media all and (min-width: 768px) {
      margin: 0px;
      padding: 0;
    }

    &:hover {
      transition: 0.5s;
    }
  }
  &__social {
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: 0.7s;

    &:hover {
      transform: rotateY(180deg);
      transition: 0.7s;
    }
  }
  &__talk {
    font-family: $font-main;
    padding-bottom: 15px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      top: 21px;
      background-color: black;
    }
    &::before {
      left: 100px;
      top: 18px;
    }
    &::after {
      right: 101px;
      top: 18px;
    }
    @media all and (min-width: 768px) {
      &::after,
      &::before {
        width: 20px;
        top: 32px;
      }
      &::before {
        left: 100px;
        top: 18px;
      }
      &::after {
        right: 101px;
        top: 18px;
      }
    }
    @media all and (min-width: 1200px) {
      &::before {
        left: 100px;
        top: 19px;
      }
      &::after {
        right: 101px;
        top: 19px;
      }
    }
  }
  &__subTalk {
    display: flex;
    font-family: $font-main;
    text-align: center;
    @media all and (min-width: 768px) {
      width: 500px;
    }
  }
  &__name {
    padding: 30px;
    display: flex;
  }
  &__container {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
  }
  &__subTitle {
    display: none;
    color: black;
    @media all and (min-width: 768px) {
      display: flex;
      font-family: $font-main;
      font-size: 15px;
      margin: 0 15px;
    }
  }
}

.blue {
  color: $color-main;
}
