.header{
  background-color:$color-header;
  display: flex;
  justify-content: center;
  padding: 10px;

  &__title {
  font-family: $font-main;
  }

  &__icon{
    font-size: 50px;
    padding-right: 5px;
  }
}