.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: $font-main;
  padding: 20px;
  background-color: $color-cuaternary;
  z-index: 999;
  @media all and (min-width: 768px) {
    justify-content: space-evenly;
    padding: 15px;
  }

  &__name {
    font-family: $font-main;
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  &__menu {
    cursor: pointer;
    font-size: 20px;
    display: none;
    color: black;
    transition: 0.5s;
    // &:hover {
    //   transition: 0.5s;
    //   color: orange;
    // }
  }
  &__icon {
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px 8px;
    transition: 0.5s;
    @media all and (min-width: 768px) {
      margin: 0 15px;
      padding: 14px 10px 8px;
    }
    @media all and (min-width: 1200px) {
      margin: 0 35px;
      padding: 20px 12px 13px;
    }
    &:hover {
      transition: 0.5s;
    }
  }
  &__social {
    color: black;
    transition: 0.5s;
    &:hover {
      color: lightblue;
    }
  }
}

.header__nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: lightblue;
  transition: all 1s ease;
  padding: 23px;

  @media all and (min-width: 768px) {
    padding: 15px;
  }
}

.header__links {
  color: black;
  text-decoration: none;
  font-size: $header-mobile;
  padding: 8px;

  &:hover {
    color: $color-cuaternary;
  }
  @media all and (min-width: 768px) {
    font-size: $header-tablet-desktop;
  }
}
.header__menuShow {
  display: block;
  z-index: 999;
}

.hidden {
  display: none;
}
