.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: $font-main;
  padding: 20px;
  background-color: $color-main;
  z-index: 999;

  &__sticky {
    // background-color: lightblue;
  }
  &__name {
    font-family: $font-main;
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  &__menu {
    cursor: pointer;
    font-size: 20px;
    display: none;
    color: black;
    transition: 0.5s;
    // &:hover {
    //   transition: 0.5s;
    //   color: orange;
    // }
  }
  &__icon {
    margin: 0 5px;
    padding: 3px 8px;
    transition: 0.5s;

    // @media all and (min-width: 768px) {
    //   margin: 0 15px;
    //   padding: 13px 10px 8px;
    // }
    // @media all and (min-width: 1200px) {
    //   margin: 0 35px;
    //   padding: 18px 12px 10px;
    // }
  }
  &__social {
    font-size: 25px;
    color: black;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      color: black;
    }
  }
}

.header__nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  transition: all 1s ease;
  padding: 25px;
}

.header__links {
  color: black;
  text-decoration: none;
  font-size: $header-mobile;
  padding: 8px;
  &:hover {
    color: $color-cuaternary;
  }
  @media all and (min-width: 768px) {
    font-size: $header-tablet-desktop;
  }
}
.header__menuShow {
  display: block;
  z-index: 999;
}

.hidden {
  display: none;
}
