.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: $font-main;
  padding: 8px 12px;
  background-color: $color-cuaternary;
  z-index: 9999999;

  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
  &__porfolio {
    color: $color-main;
  }
  &__por,
  &__porfolio {
    font-size: $header-mobile;
    @media all and (min-width: 768px) {
      font-size: $header-tablet-desktop;
    }
  }
  &__name {
    font-family: $font-main;
    padding: 8px;
  }

  &__ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
}

.header__nav {
  display: flex;
  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
}

.header__links {
  color: black;
  text-decoration: none;
  font-size: $header-mobile;
  padding: 5px;
  &:hover {
    color: $color-main;
  }
  @media all and (min-width: 768px) {
    font-size: $header-tablet-desktop;
    padding: 12px;
  }
}
// .header__menuShow {
//   display: block;
//   z-index: 999;
// }

// .hidden {
//   display: none;
// }
