.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  font-family: $font-main;
  padding: 8px 12px;
  background-color: $color-cuaternary;
  z-index: 9999999;

  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
  &__porfolio {
    color: $color-main;
  }
  &__por,
  &__porfolio {
    font-size: $header-mobile;
    @media all and (min-width: 768px) {
      font-size: $header-tablet-desktop;
    }
  }
  &__name {
    font-family: $font-main;
    padding: 8px;
  }

  &__ul {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-cuaternary;
    height: 100vh;
    padding: 20px;
  }

  &__menu {
    display: flex;
    @media all and (min-width: 768px) {
      display: none;
    }
  }
  &__iconClose {
    cursor: pointer;
    position: absolute;
    color: white;
    font-size: 20px;
    right: 17px;
    top: 18px;
    @media all and (min-width: 768px) {
      top: 20px;
    }
  }
  &__iconMenu {
    cursor: pointer;
    font-size: 20px;
  }
}

.header__nav {
  display: flex;
  @media all and (min-width: 768px) {
    justify-content: space-between;
  }
}

//MENU MOVIL
.header {
  &__ulMovil {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-cuaternary;
    height: 100vh;
    padding: 40px;
  }
  &__navMovil {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // background: rgba(0, 0, 0, 0.9);
  }

  &__linksMovil {
    color: black;
    text-decoration: none;
    font-size: $header-mobile;
    padding: 10px;
    &:hover {
      color: $color-main;
    }
    @media all and (min-width: 768px) {
      font-size: $header-tablet-desktop;
      padding: 12px;
    }
  }

  &__liMovil {
    padding: 15px 0;
    border-bottom: 1px solid $color-main;
  }
}

.header__links {
  color: black;
  text-decoration: none;
  font-size: $header-mobile;
  padding: 5px;
  &:hover {
    color: $color-main;
  }
  @media all and (min-width: 768px) {
    font-size: $header-tablet-desktop;
    padding: 12px;
  }
}

.hidden {
  display: none;
}

// tenerlo en cuenta
// .header__iconClose {
//   position: absolute;
//   z-index: 99999999999999;
// }
