.main {
  margin-top: 100px;
  display: flex;
  padding: 0 5px;
  background: rgba(242, 246, 248, 1);
  background: -moz-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 23%,
    rgba(181, 198, 208, 1) 51%,
    rgba(224, 239, 249, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(242, 246, 248, 1)),
    color-stop(23%, rgba(216, 225, 231, 1)),
    color-stop(51%, rgba(181, 198, 208, 1)),
    color-stop(100%, rgba(224, 239, 249, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 23%,
    rgba(181, 198, 208, 1) 51%,
    rgba(224, 239, 249, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 23%,
    rgba(181, 198, 208, 1) 51%,
    rgba(224, 239, 249, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 23%,
    rgba(181, 198, 208, 1) 51%,
    rgba(224, 239, 249, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 23%,
    rgba(181, 198, 208, 1) 51%,
    rgba(224, 239, 249, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1);

  &-form {
    width: 80%;
  }
  &__form--text {
    font-family: $font-secondary;
    font-size: 20px;

    &--input {
      height: 30px;
      width: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  &__container {
    border: 2px black solid;
    padding: 10px;
    margin: 10px;
    width: 230px;
    list-style: none;

    &--fav {
      width: 100px;
      list-style: none;
    }
  }
  &__img--fav {
    width: 80px;
    height: 80px;
  }

  &__list--items {
    &--img {
      background-image: cover;

      &--name,
      &--genre {
        font-family: $font-secondary;
        font-size: 15px;
      }
    }
  }

  &__aside {
    // background: rgba(212, 228, 239, 1);
    // background: -moz-linear-gradient(
    //   left,
    //   rgba(212, 228, 239, 1) 0%,
    //   rgba(212, 228, 239, 1) 20%,
    //   rgba(134, 174, 204, 1) 72%,
    //   rgba(134, 174, 204, 1) 100%
    // );
    // background: -webkit-gradient(
    //   left top,
    //   right top,
    //   color-stop(0%, rgba(212, 228, 239, 1)),
    //   color-stop(20%, rgba(212, 228, 239, 1)),
    //   color-stop(72%, rgba(134, 174, 204, 1)),
    //   color-stop(100%, rgba(134, 174, 204, 1))
    // );
    // background: -webkit-linear-gradient(
    //   left,
    //   rgba(212, 228, 239, 1) 0%,
    //   rgba(212, 228, 239, 1) 20%,
    //   rgba(134, 174, 204, 1) 72%,
    //   rgba(134, 174, 204, 1) 100%
    // );
    // background: -o-linear-gradient(
    //   left,
    //   rgba(212, 228, 239, 1) 0%,
    //   rgba(212, 228, 239, 1) 20%,
    //   rgba(134, 174, 204, 1) 72%,
    //   rgba(134, 174, 204, 1) 100%
    // );
    // background: -ms-linear-gradient(
    //   left,
    //   rgba(212, 228, 239, 1) 0%,
    //   rgba(212, 228, 239, 1) 20%,
    //   rgba(134, 174, 204, 1) 72%,
    //   rgba(134, 174, 204, 1) 100%
    // );
    // background: linear-gradient(
    //   to right,
    //   rgba(212, 228, 239, 1) 0%,
    //   rgba(212, 228, 239, 1) 20%,
    //   rgba(134, 174, 204, 1) 72%,
    //   rgba(134, 174, 204, 1) 100%
    // );
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
    border: 2px dotted black;
    width: 20%;
    &--fav {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
    }
    &--start {
      padding: 5px;
    }
    &--title {
      padding: 2px;
    }
  }
  &__aside-box {
    display: flex;
  }
}

.style__fav {
  border: 2px solid red;

  &__item {
  }
}

.hidden {
  display: none;
}
