.main {
  margin-top: 70px;
  padding: 0 5px;

  // background: rgba(242, 246, 248, 1);
  // background: -moz-linear-gradient(
  //   left,
  //   rgba(242, 246, 248, 1) 0%,
  //   rgba(216, 225, 231, 1) 23%,
  //   rgba(181, 198, 208, 1) 51%,
  //   rgba(224, 239, 249, 1) 100%
  // );
  // background: -webkit-gradient(
  //   left top,
  //   right top,
  //   color-stop(0%, rgba(242, 246, 248, 1)),
  //   color-stop(23%, rgba(216, 225, 231, 1)),
  //   color-stop(51%, rgba(181, 198, 208, 1)),
  //   color-stop(100%, rgba(224, 239, 249, 1))
  // );
  // background: -webkit-linear-gradient(
  //   left,
  //   rgba(242, 246, 248, 1) 0%,
  //   rgba(216, 225, 231, 1) 23%,
  //   rgba(181, 198, 208, 1) 51%,
  //   rgba(224, 239, 249, 1) 100%
  // );
  // background: -o-linear-gradient(
  //   left,
  //   rgba(242, 246, 248, 1) 0%,
  //   rgba(216, 225, 231, 1) 23%,
  //   rgba(181, 198, 208, 1) 51%,
  //   rgba(224, 239, 249, 1) 100%
  // );
  // background: -ms-linear-gradient(
  //   left,
  //   rgba(242, 246, 248, 1) 0%,
  //   rgba(216, 225, 231, 1) 23%,
  //   rgba(181, 198, 208, 1) 51%,
  //   rgba(224, 239, 249, 1) 100%
  // );
  // background: linear-gradient(
  //   to right,
  //   rgba(242, 246, 248, 1) 0%,
  //   rgba(216, 225, 231, 1) 23%,
  //   rgba(181, 198, 208, 1) 51%,
  //   rgba(224, 239, 249, 1) 100%
  // );
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=1);

  &-form {
    display: flex;
    &__list {
      width: 80%;
    }
  }

  &__form {
    width: 100%;
  }
  &__form--text {
    font-family: $font-secondary;
    font-size: 20px;
    display: inline-block;
    margin: 10px;

    &--input {
      height: 30px;
      width: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  &__container {
    border: 2px black solid;
    padding: 8px;
    margin: 10px;
    width: 230px;
    list-style: none;

    &--fav {
      width: 100px;
      list-style: none;
    }
  }
  &__img--fav {
    width: 80px;
    height: 80px;
  }

  &__list--items {
    &--img {
      background-image: cover;

      &--name,
      &--genre {
        font-family: $font-secondary;
        font-size: 15px;
      }
    }
  }

  &__aside {
    border: 2px dotted black;
    border-radius: 15px;
    width: 20%;
    padding: 8px;
    margin: 10px;

    &--fav {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
    }
    &--start {
      padding: 5px;
    }
    &--title {
      padding: 2px;
    }
  }
  &__aside-box {
    display: flex;
  }
}

.style__fav {
  background-color: #273c6e;

  &__item {
  }
}

.reset {
  margin: 5px;
}
.hidden {
  display: none;
}
