.projectDetails {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  display: none;
  z-index: 999999;

  @media all and(min-width:768px) {
    padding: 100px;
  }
  @media all and(min-width:1200px) {
    top: 30px;
  }

  &.active {
    display: flex;
  }

  &__title,
  &__description,
  &__tolls {
    font-family: $font-main;
    display: block;
    color: black;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
    text-align: center;
    @media all and(min-width:768px) {
      text-align: center;
    }
  }

  &__containerImg {
    display: flex;
    justify-content: center;
  }
  &__img {
    display: block;
    height: 100px;
    padding: 10px;

    @media all and(min-width:768px) {
      height: 200px;
    }
    @media all and(min-width:1200px) {
      height: 300px;
    }
  }
  &__container {
    position: relative;
    background-color: white;
    border-radius: 22px;
  }
  &__close {
    padding-right: 5px;
    position: absolute;
    right: -15px;
    top: -15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
}
