.projectDetails {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;

  @media all and(min-width:768px) {
    padding: 0 150px;
  }
  @media all and(min-width:1200px) {
    padding: 0 400px;
    top: 30px;
  }

  &.active {
    display: flex;
  }
  &__title {
    text-transform: uppercase;
  }
  &__title,
  &__description,
  &__tolls {
    font-family: $font-main;
    display: block;
    color: black;
    padding: 15px;
    // margin: 10px;
    text-align: center;
    // @media all and(min-width:768px) {
    //   text-align: center;
    // }
  }

  &__containerImg {
    display: flex;
    justify-content: center;
  }
  &__img {
    display: block;
    height: 120px;
    padding: 10px;
  }
  &__container {
    position: relative;
    background-color: white;
    margin: 0 15px 0 10px;
    padding: -30px 30px;
    // height: 380px;
    // width: 400px;
    // border-radius: 22px;
    // @media all and(min-width:768px) {
    //   height: 380px;
    //   width: 400px;
    // }
  }
  &__close {
    padding-right: 5px;
    position: absolute;
    right: -23px;
    top: -18px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }
}
