.project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &--title {
    padding: 10px;
    font-family: $font-main;
    text-align: center;
    font-size: 22px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      top: 21px;
      background-color: black;
    }
    &::before {
      left: 115px;
      top: 27px;
    }
    &::after {
      right: 115px;
      top: 27px;
    }
    @media all and (min-width: 768px) {
      font-size: 20px;
      &::after,
      &::before {
        width: 20px;
        top: 21px;
      }
      &::before {
        left: 105px;
        top: 25px;
      }
      &::after {
        right: 105px;
        top: 25px;
      }
    }
    @media all and (min-width: 1200px) {
      font-size: 25px;
      &::before {
        left: 130px;
        top: 27px;
      }
      &::after {
        right: 130px;
        top: 27px;
      }
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 0 10px 15px;

    @media all and(min-width:768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }
    @media all and(min-width:1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  }

  &--container {
    border: 2px solid black;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--project__title {
    font-family: $font-main;
    color: black;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    @media all and(min-width:1200px) {
      font-size: 20px;
    }
  }

  &--project__img {
    text-align: center;
    height: 150px;
    width: 200px;
    padding-top: 5px;
    cursor: pointer;
    @media all and(min-width:768px) {
      height: 150px;
      width: 200px;
    }
    @media all and(min-width:1200px) {
      height: 150px;
      width: 200px;
    }
  }

  &--socialMedia {
    padding: 15px 0;
  }
  &--icon {
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
    padding: 5px 7px;
    transition: 0.5s;
    &:hover {
      background-color: $color-main;
    }
  }
  &--social {
    color: black;
  }
  &--containerIcon {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    text-decoration: none;
  }
  &--iconUp {
    color: $color-cuaternary;
    font-size: 20px;

    @media all and (min-width: 768px) {
      font-size: 25px;
    }
  }
  &__more {
    cursor: pointer;
    font-family: $font-main;
    font-size: $header-mobile;
    color: black;
    margin-bottom: 20px;
    text-decoration: none;
    border: 2px solid $color-cuaternary;
    background-color: $color-cuaternary;
    border-radius: 15px;
    @media all and (min-width: 768px) {
      font-size: 18px;
    }
    @media all and (min-width: 1200px) {
      font-size: 20px;
    }
    &:hover {
      background-color: white;
    }

    &--icon {
      padding: 15px;
      color: black;
      text-decoration: none;
      display: flex;
    }
    &--social {
      padding-right: 10px;
    }
  }
}
