.project {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--title {
    padding: 10px;
    font-family: $font-main;
    text-align: center;
    font-size: 22px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      top: 21px;
      background-color: black;
    }
    &::before {
      left: 112px;
      top: 27px;
    }
    &::after {
      right: 112px;
      top: 27px;
    }
    @media all and (min-width: 768px) {
      font-size: 30px;
      &::after,
      &::before {
        height: 2px;
        width: 24px;
        top: 21px;
      }
      &::before {
        left: 149px;
        top: 33px;
      }
      &::after {
        right: 151px;
        top: 33px;
      }
    }
    @media all and (min-width: 1200px) {
      font-size: 35px;
      &::before {
        left: 175px;
        top: 37px;
        height: 3px;
      }
      &::after {
        right: 175px;
        top: 37px;
        height: 3px;
      }
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    padding: 0 10px 15px;
    @media all and(min-width:768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and(min-width:1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--container {
    border: 2px solid black;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 20px;

    @media all and(min-width:1200px) {
      padding: 10px 35px;
    }
  }

  &--project__title {
    font-family: $font-main;
    color: black;
    text-align: center;
    padding-top: 5px;
    @media all and(min-width:768px) {
      font-size: $header-tablet-desktop;
    }
    @media all and(min-width:1200px) {
      font-size: 28px;
    }
  }

  &--project__img {
    height: 150px;
    width: 200px;
    cursor: pointer;
    @media all and(min-width:768px) {
      height: 200px;
      width: 280px;
    }
    @media all and(min-width:1200px) {
      height: 200px;
      width: 280px;
    }
  }
  &--hidden {
    display: none;
  }
  &--socialMedia {
    text-align: center;
    padding: 10px 0;
    @media all and (min-width: 768px) {
      padding: 13px 0;
    }
    @media all and (min-width: 1200px) {
      padding: 20px 0;
    }
  }
  &--icon {
    border: 2px solid black;
    border-radius: 50%;
    margin: 5px;
    padding: 5px 7px;
    transition: 0.5s;
    &:hover {
      background-color: $color-main;
    }

    @media all and (min-width: 768px) {
      margin: 0 15px;
      padding: 14px 10px 8px;
    }
    @media all and (min-width: 1200px) {
      margin: 0 35px;
      padding: 20px 12px 13px;
    }
  }
  &--social {
    font-size: 15px;
    color: black;

    @media all and (min-width: 768px) {
      font-size: 25px;
    }
    @media all and (min-width: 1200px) {
      font-size: 30px;
    }
  }
  &--containerIcon {
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    text-decoration: none;
  }
  &--iconUp {
    font-size: 20px;
    color: $color-cuaternary;
  }
}
