.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $color-main;

  &__title {
    padding: 10px;
    font-family: $font-main;
    text-align: center;
    font-size: 22px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 18px;
      top: 21px;
      background-color: black;
    }
    &::before {
      left: 138px;
      top: 26px;
    }
    &::after {
      right: 138px;
      top: 26px;
    }
    @media all and (min-width: 768px) {
      font-size: 20px;
      &::after,
      &::before {
        width: 20px;
        top: 21px;
      }
      &::before {
        left: 127px;
        top: 24px;
      }
      &::after {
        right: 127px;
        top: 24px;
      }
    }
    @media all and (min-width: 1200px) {
      font-size: 25px;
      &::before {
        left: 151px;
        top: 27px;
      }
      &::after {
        right: 151px;
        top: 27px;
      }
    }
  }

  &__containerList {
    font-family: $font-main;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    @media all and(min-width:768px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    @media all and(min-width:1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 150px;
    }
  }
  &__list {
    min-width: 200px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-cuaternary;
    cursor: pointer;

    &:hover {
      background-color: white;
    }
    &--mainTitle {
      text-transform: uppercase;
      padding: 5px 5px 2px;
      border-bottom: 1px solid black;
    }
    &--item {
      list-style: none;
      padding-top: 8px;
    }
  }
}
.fab {
  padding-left: 5px;
  font-size: 15px;
}
