@import "core/variables";
@import "core/reset";
@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";
@import "layout/_aboutMe";
@import "layout/_contact";
@import "layout/_skills";
@import "layout/_projects";
@import "layout/_projectsDetails";
@import "pages/index";
